.bg-color {
    background: #6441A5;
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
    background: linear-gradient(to right, #2a0845, #6441A5);
    padding: 5%;
    min-height: fit-content;
}

.logo-header {
    display: inline;
    padding-bottom: 25px;
}

.button {
    background: white;
    border: 0.5px solid white;
    border-radius: 5px;
    cursor: pointer;
    color: rgba(63, 43, 150, 0.87);
    font-weight: 400px;
    font-size: 25px;
    padding: 9px 15px;
    margin-right: 15px;
    margin-top: 15px;
    transition: all .3s ease, all .3s ease;
}

.button:hover {
    background: rgba(255, 255, 255, 0.719);
}

h2 {
    color: rgba(255, 255, 255, 0.911);
    padding-bottom: 50px;
    padding-top: 50px;
    font-size: 60px;
    text-align: center;
}

h3 {
    color:rgba(255, 255, 255, 0.822);
    padding-bottom: 50px;
    font-size: 60px;
    text-align: center;
}

h4 {
    color: white;
    padding-left: 15px;
}


#powered-by {
    color: rgba(255, 255, 255, 0.493);
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}

a {
    color: rgba(255, 255, 255, 0.493);
    text-decoration: underline;
    transition: all .3s ease, all .3s ease;
}

a:hover{
    color: rgba(255, 255, 255, 0.39);
    transition: all .5s ease, all .5s ease;
    text-decoration: underline;

}

form {
    padding-top: 50px;
    text-align: center;
}

::-moz-placeholder {
    color: rgb(148, 151, 156);
    opacity: 1;
    text-align: center;
}
::-webkit-input-placeholder {
    color: rgb(148, 151, 156);
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

textarea {
    color: rgb(148, 151, 156);
    padding: 30px;
    font-size: 20px;
    border: solid 2px white;
    border-radius: 5px;
    max-width: 66%;
}

.checkbox {
    color: rgb(255, 255, 255);
    padding-right: 20px;
}

label {
    color: white;
    padding-right: 15px;

}
